<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />

</head>
<body>
    <form action="#" th:action="@{/ShowNotes}" th:object="${Notes}" method="post">
        <p>Date: <input type="date" th:field="*{date}" required /></p>
        <p>Text: <input type="text" th:field="*{note_text}" required /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>