<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/ShowAll}" th:object="${Notes}" method="post">
    <p>Date: <input type="date" th:field="*{date}" required /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" required /></p>
</form>
<form action="#" th:action="@{/ShowAllFiltered}" th:object="${NotesFilter}" method="post">
    <p>Date: <input type="date" th:field="*{dateFrom}" required /></p>
    <p>Date: <input type="date" th:field="*{dateTo}" required /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Date </th>
        <th> Text </th>
        <th> Owner </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${NotesUser.empty}">
        <td colspan="2"> No Notes Available </td>
    </tr>
    <tr th:each="note : ${NotesUser}" th:object="${Notes}">
        <th><span th:text="${note.id}"> ID </span></th>
        <th><span th:text="${note.date}"> Date </span></th>
        <th><span th:text="${note.note_text}"> Text </span></th>
        <th><span th:text="${note.owner}"> Owner </span></th>
    </tr>
    </tbody>
</table>
<a href="/InsertNote">Click here to add a note</a><br>
<a href="/Result">Click here to see all notes</a><br>
<a href="/Logout">Click here to logout</a>
</body>
</body>
</html>