<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Date </th>
        <th> Text </th>
        <th> Owner </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${NotesUser.empty}">
        <td colspan="2"> No Notes Available </td>
    </tr>
    <tr th:each="note : ${NotesUser}" th:object="${Notes}">
        <td><span th:text="${note.id}"> ID </span></td>
        <td><span th:text="${note.date}"> Date </span></td>
        <td><span th:text="${note.note_text}"> Text </span></td>
        <td><span th:text="${note.owner}"> Owner </span></td>
    </tr>
    </tbody>
</table>
<a href="/InsertNote">Click here to add a note</a></body>
</body>
</html>